{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>
    <form method="get" action=".">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>{{ result.object.first }} {{ result.object.last }} - {{ result.object.gpa }}</p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        {% endif %}
{% endblock %}
